---
title: lvsl.github.com
---
<!DOCTYPE html>
<html>
  <head>
    {% include common_head.html %}
  </head>

  <body>
    <div class="about-me">
      <img align="left" src="http://www.gravatar.com/avatar/4f01bd803a897dfe7d2a728444f45af8?s=100"/> 
      <h1><a href="https://github.com/lvsl">leovsl</a>'s blog.</h1>
      <h5>
          <span style="text-decoration:line-through">
              Software Engineer & Team Lead at <a href="http://yandex.com">Yandex</a>.
          </span>
          Software Engineer at <a href="http://aws.amazon.com">Amazon Web Services</a>.
      </h5>
      <small>
        <a href="http://feeds.feedburner.com/lvsl-github-com">RSS</a>
        |
        <a href="http://twitter.com/chingun">Twitter</a>
      </small>
    </div>
    <ul class="post-list">
    {% for p in site.posts %}
      <li class="post-item">
        <a class="post-link" href="{{p.url}}">{{p.title}}</a>
        <span class="post-title-dash">&mdash;</span>
        <span class="post-date">{{p.date | date:"%d %b, %Y"}}</span>
        <br/>
        <span class="post-tags">#{{p.tags | join:", #"}}</span>
      </li>
    {% endfor %}
    </ul>
  </body>
</html>

